In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_excel('E Commerce Dataset.xlsx')

In [4]:
print(df.shape)

(5630, 20)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer ID                    5630 non-null   int64
 1   Churn                          5630 non-null   int64
 2   Tenure                         5366 non-null   float64
 3   Preferred_Login_Device         5630 non-null   object
 4   City Tier                      5630 non-null   int64
 5   Warehouse_To_Home              5379 non-null   float64
 6   Preferred_Payment_Mode         5630 non-null   object
 7   Gender                         5630 non-null   object
 8   Hour_Spend_OnApp               5375 non-null   float64
 9   Number_OfDevice_Registered     5630 non-null   int64
 10  Preferred_OrderCategory        5630 non-null   object
 11  Satisfaction_Score             5630 non-null   int64
 12  Marital_Status                 5630 non-null   object
 13  Number_OfAddress               5630 non-null   int64
 14  Complain                       5630 non-null   int64
 15  Order_AmountHikeFrom_lastYear  5365 non-null   float64
 16  Coupon_Used                    5374 non-null   float64
 17  Order_Count                    5372 non-null   float64
 18  Day_SinceLast_Order            5323 non-null   float64
 19  Cashback_Amount                5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [7]:
df['Churn'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5630 entries, 0 to 5629
Series name: Churn
Non-Null Count  Dtype
--------------  -----
5630 non-null   int64
dtypes: int64(1)
memory usage: 44.1 KB